.chat {
    background-color: var(--color-primary);
    flex-grow: 1;
    border-radius: 18px;
    padding: 20px 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    gap: 16px;
}

.field {
    /* height: 120px; */
    /* background-color: blue; */
}