:root {
 --color-primary: #121825;
 --color-text: #fff;
 --bg-modal: #222B44;
 --bg: #0E0C15;
 --bg-btn: #1C64F2;
 --shadow-btn: 0px 1px 1px 0px #2c446266;

 --border-color: #313E62;

 --placeholder-color: #616D8D;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  padding: 16px;
  height: 100vh;
}

body {
  background-color:var(--bg);
  color: var(--color-text);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  height: 100vh;
}

button {
  border: none;
  border-radius: 8px;
  background-color: var(--bg-btn);
  box-shadow: var(--shadow-btn);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-text);
  font-weight: 500;
  font-size: 18px;
}

input::placeholder {
  color: var(--placeholder-color);
}

a {
  text-decoration: none;
}